* {
    margin: 0;
    padding: 0;
    font-family: 'IBM Plex sans';
}


* h1 {
    font-size: 64px;
    color: #010C80;
    font-family: 'IBM Plex' sans;
    font-weight: 600;
}

* h2 {
    font-size: 46px;
    color: #010C80;
    font-weight: 600;
}
/*
* p {
    font-size: 24px;
    color: #000;
    margin-top: 8px;
    font-weight: 400;
}*/ 

.owl-carousel {
    position: relative;
    background: #87C0CD;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 120px;
    padding-right: 120px;
}


.carousel-wrapper {
    display: flex;
}

.carousel-slide {
    height: auto; /* Allow natural height */
    display: flex;
}

.card {
    position: relative;
    background: #fff;
    border-radius: 20px;
    min-height: 400px;
    height: auto;
    max-height: 450px;
    margin: 20px 15px 0px 20px;
    width: 100%; /* Fill slide width */
    display: flex;
    flex-direction: column;
    padding: 30px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    margin-left: 10px;
    margin-right: 10px;
}

.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
}

.image {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 20px;
}

.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.name-profession {
    margin: 5px 0;
    text-align: center;
}

.name {
    font-size: 20px;
    font-weight: 600;
    color: #000;
}

.rating{
    color: orange;
    padding-bottom: 15px;
}

.review-text {
    flex-grow: 1;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 0 10px;
}

.review-text p {
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
}

.logo-bottom{
    /* Container styles */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.logo-bottom img {
    width: 40px;
    height: 40px;
    object-fit: contain; /* This ensures the image maintains its aspect ratio */
}


